.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  min-height: 10 vh;
  background: lightblue;
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}
.formButton {
  width: 6%;
  height: 6%;
  border-radius: 10px;
  background-color: #4caf50;
  color: black;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  left: 47%;
  text-align: center;
  position: absolute;
}

.formButton:hover {
  background-color: #446d45;
  color: white;
  border-radius: 10px;
}
input,
select,
textarea {
  min-width: 300px;
}
form {
  position: relative;
}
